<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="">

  <title>文件管理登录</title>

  <link href="./Public/css/bootstrap.min.css" rel="stylesheet">
  <link href="signin.css" rel="stylesheet">

</head>

<body>
<style>
  .s_center {
    margin-left: auto;
    margin-right: auto;
  }
</style>
<div class="s_center container col-lg-6 ">

<form class="form-signin" method="post">
<input type="text" name="username">
<input type="password" name="password">
<button type="button" onclick="login.check()">登录</button>
</form>

</div>
<script src="./Public/js/jquery.js"></script>
<script src="./Public/js/dialog/layer.js"></script>
<script src="./Public/js/dialog.js"></script>
<script src="./Public/js/admin/login.js"></script>


</body>
</html>